<!DOCTYPE html>
 <body>
    <h1>Contrato de Prestação de Serviço</h1>
    <p>Cliente: {{clientName}}</p>
    <p>Serviço: {{serviceName}}</p>
    <p>Valor: R$ {{value}}</p>
    <p>Data de vencimento: {{dueDate}}</p>
  </body>
</html>